<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net472" />
  <package id="Simple.Data.Ado" version="0.19.0.0" targetFramework="net472" />
  <package id="Simple.Data.Core" version="0.19.0.0" targetFramework="net472" />
</packages>